
.box1 {
 min-height: 10vh;
width: 50%;
margin: auto;
display: inline-table;
}

.box2 {
  min-height: 10vh;
width: 50%;
margin: auto;
display: inline-table;
}

.box3 {
  min-height: 10vh;
width: 50%;
margin: auto;
display: inline-table;
}

.dark_green {
 background-color:#42ad1e;
}

.light_green {
  background-color:#4fcc2d;
}

.dark_blue {
  background-color:#043252;
}

.box4 {
 min-height: 10vh;
width: 50%;
margin: auto;
display: inline-table;
}
  .blue {
    background-color:#5CAAE2;
  }

.box5 {
 min-height: 30vh;
width: 50%;
margin: auto;
display: inline-table;
  
}

.brown {
  background-color:#B25018;
}
