

.box1 {
flex-wrap:flex;
 min-height: 30vh;
width: 50%;
margin: auto;
display: inline-table;

 }
.box2 {
 @media only screen and (min-width:680px)
  min-height: 30vh;
width: 50%;
margin: auto;
float: right;
 
 }
.box3 {
 @media only screen and (min-width:680px)
  min-height: 30vh;
width: 50%;
margin: auto;
display: inline-table;
 
 }
.dark_green {
 background-color:#42ad1e;
}

.light_green {
  background-color:#4fcc2d;
}

.dark_blue {
  background-color:#043252;
}

.box4 {
 @media only screen and (min-width:680px)
 min-height: 30vh;
width: 50%;
margin: auto;
float: right;
  
}
  .blue {
    background-color:#5CAAE2;
  }

.box5 {
 @media only screen and (min-width:680px)
 min-height: 30vh;
width: 100%;
margin: auto;
float: right;

}

.brown {
  background-color:#B25018;
}
