
.box {
  min-height: 100px;
  width: 50%;
  margin:0 auto;
}
.orange {
	  background-color: #96D13B;
}
.green {
  background-color: #16A950;
}
.yellow {
  background-color: #FEEB0B;
}
body

background-color:#666666;

	.blue {
	background-color:#02A345
}
